nav {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  padding: 1.5em;
  color: white;
  background-color: var(--tweeter-blue);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  font-family: 'Bungee', sans-serif;
  font-size: xx-large;
}