nav {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  padding: 1em;
  color: white;
  background-color: var(--tweeter-blue);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 1;
}

.logo {
  font-family: 'Bungee', sans-serif;
  font-size: xx-large;
}

nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: var(--tweeter-blue);
}

nav div:hover {
  filter: drop-shadow(5px 5px 0 var(--tweeter-blue-shadow));
  border: 3px solid var(--tweeter-blue-shadow);
}

nav svg {
  width: 1.5em;
  height: 1.5em;
}

nav svg image {
  width: 1.5em;
  height: 1.5em;
}