nav {
  position: fixed;
  top: 0;
  height: 5em;
  width: 100%;
  padding: 1em;
  color: white;
  background-color: var(--tweeter-blue);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 1;
}

.logo {
  font-family: 'Bungee', sans-serif;
  font-size: 1.5em;
}

nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .2em;
  background-color: var(--tweeter-blue);
}

nav div:hover {
  filter: drop-shadow(5px 5px 0 var(--tweeter-blue-shadow));
  border: 3px solid var(--tweeter-blue-shadow);
}

nav svg {
  width: 1.5em;
  height: 1.5em;
}

nav svg image {
  width: 1.5em;
  height: 1.5em;
}

/* This class ONLY exists for small screens. */
@media only screen and (max-width: 425px) {  
  nav.small {
    height: 3em;
    padding: .5em;
  }
}

/*******************************************************
DESKTOP STYLE
********************************************************/

@media only screen and (min-width: 1024px) {
  nav {
    /* This matches the 80% width of the body div. */
    padding-left: 10%;
    padding-right: 10%;
  }
 }