#all-tweets {
  margin-top: 1em;
  width: 100%;
}

.tweet {
  display: flex;
  flex-direction: column;
  border: 2px black solid;
  padding: 0.5em;
  background-color: #b1faff;
}

.tweet:hover {
  filter: drop-shadow(5px 5px 0 #7aafb3);
}

/* Contains user avatar, name, @handle. */
.tweet header {
  display: flex;
  align-items: center;
  font-weight: 300;
}

.tweet section {
  margin: 1em 0 .75em .75em;
  font-weight: 400;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-width: 3px 0 0 0;
  padding: .5em 1em 0 1em;
  font-size: 15px;
}

.tweet .interactions {
  display: flex;
}

/* Avatar inside tweet. */
.tweet header img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/* @handle within tweet, does not display by default */
.tweet .handle {
  margin-left: auto;
  font-weight: 600;
  color: #7aafb3;
  display: none;
}

.tweet:hover .handle {
  display: block;
}